<h2>Create New Course</h2>
<form action="/courses" method="POST">
  <input type="text" name="title" placeholder="Title" required /><br />
  <input type="text" name="category" placeholder="Category" /><br />
  <textarea name="description" placeholder="Description"></textarea><br />
  <button type="submit">Create</button>
</form>
